
生成点餐系统 H5页面，
帮我生成页面, 手机网页显示的。

登录点餐页面
1.输入工号和密码，点击登录跳转项目选择页面
2.下面显示服务中心电话或者二维码联系方式


项目选择页面
1，上面标题是“搬家中心生产项目部班中餐预约点餐系统”
2.下面有多个项目组，项目组例如
红柳林项目部
张家峁项目部
柠条塔项目部
小保当项目部
曹家滩项目部
安山项目部
沙梁项目部
银河项目部
杭来湾项目部
可可盖项目部
3.选择一个项目组跳转投票页面
4.所有数据从Json读取，预留调用backend接口获取数据。现在先mock上面的项目组。
5.前端实现搜索项目组，输入触发搜索的项目组
6.页面提供修改密码的地方，点击跳修改密码

修改密码页面
1. 账号
2. 密码
3. 新密码
4. 确认新密码


投票页面
帮我生成页面, 手机网页显示的。
1.页面上有标题 写着可可盖项目部今日餐品排名，
2.页面有当前投票最多的荤菜和素菜
3.两组，左侧是荤菜组，右侧素菜组，左侧7个 右侧7个，
4.每个菜品有图片并且有名称，有票数。
5.每人只能投一票每组。投了后按钮变颜色，再点下就是取消投票。
6.页面显著提醒截至8点系统清算和下午4点系统清算。清算的意思是厨房按照排名第一的荤菜和素材出餐，
7.所有菜品的数据从Json读取，预留调用backend接口获取数据。现在先mock网络的菜品7荤菜7素材。
8.第一的荤菜和素材部分直接是js根据票数计算获取的最多菜品名称。

