
帮我整理点餐系统需求， 有这些出勤点，搬家中心
红柳林项目部

搬家中心
张家峁项目部

搬家中心
柠条塔项目部

搬家中心
小保当项目部

搬家中心
曹家滩项目部

搬家中心
安山项目部

搬家中心
沙梁项目部

搬家中心
银河项目部

搬家中心
杭来湾项目部

搬家中心
可可盖项目部

帮我生成页面, 手机网页显示的。 页面上有标题 写着可可盖项目部今日餐品排名，左侧是荤菜，右侧素菜，左侧7个 右侧7个 每个菜品下面有名称，右下角有票数。每人能投一票。投了后按钮变颜色，再点下就是取消投票。
页面显著提醒截至8点系统清算和下午4点系统清算。清算的意思是厨房按照排名第一的荤菜和素材出餐，


